@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-zinc-950 text-zinc-50
}
body{
  overflow-x: hidden;
}

*::selection {
  @apply bg-zinc-50 text-zinc-950
}

@font-face {
  font-family:"Bold";
 src: url('./assets/fonts/Fellix-Bold.ttf') format('truetype');
  /* src: local('Fellix-Bold'), */

}
@font-face {
  font-family:"Bold2";
  src: local('PPMori-SemiBold'),
   url('./assets/fonts/PPMori-SemiBold.ab48fc0e.ttf') format('truetype');

}
@font-face {
  font-family:"Bold3";
  src: local('PPNeueMontreal-Medium'),
   url('./assets/fonts/PPNeueMontreal-Medium.88ee7c9.ttf') format('truetype');

}
@font-face {
  font-family:"Bold4";
 src: url('./assets/fonts/NeurialGrotesk-Regular.ttf');

}
@font-face {
  font-family:"Bold5";
 src: url('./assets/fonts/66bbc5ba1d98e86de2c5a882_WFVisualSans-SemiBoldText\ \(1\).ttf');

}
@font-face {
  font-family:"Bold6";
 src: url('./assets/fonts/667a857a4fccb876bd2af1d8_Satoshi-Variable.ttf');

}
@font-face {
  font-family:"Bold7";
 src: url('./assets/fonts/founders-grotesk-x.cd2d353.ttf');

}
@font-face {
  font-family:"Bold8";
 src: url('./assets/fonts/PPMori-Light.0f42b11c.ttf');

}
@font-face {
  font-family:"Bold9";
 src: url('./assets/fonts/HelveticaNowText-Regular.ttf');

}
@font-face {
  font-family:"Bold1";
 src: url('./assets/fonts/Rejouice-Headline.ttf');

}
@font-face {
  font-family:"Bold0";
 src: url('./assets/fonts/NBInternationalProBoo.ttf');

}










.customShadow {
  filter: drop-shadow(0px 5px 7px #f7f7f7);
}
.newShadow{
  box-shadow: rgb(216, 213, 212) 0px 1px 0px, #f3f3f8f8 0px 1px 0px;
}
.perspective{
  transform: perspective(1000px) rotateX(-90deg) 
}
.myclass{
  transform: translate(-50%);
}



#parent {
  @apply relative overflow-hidden ;
}

#parent::before {
  transition: transform 0.5s ease-in-out;
  @apply absolute bottom-0 left-0 w-full h-full bg-zinc-50 md:bg-zinc-950 z-0 text-zinc-50 transform translate-y-full ;
  content: "";
}

#parent:hover::before {
  @apply transform translate-y-0;
}

.skills h1{
  @apply  text-zinc-50 border-gray-50 md:text-zinc-950 border md:border-zinc-950  rounded-full px-5 py-4  capitalize text-center transition-all duration-75 ease-in-out; 
}
.skills h1{
filter: blur(20px);
}
