@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-zinc-950 text-zinc-50
}
*::selection {
  @apply bg-zinc-50 text-zinc-950
}

@font-face {
  font-family:"Bold";
 src: url('./assets/fonts/Fellix-Bold.ttf') format('truetype');
  /* src: local('Fellix-Bold'), */

}
@font-face {
  font-family:"Bold2";
  src: local('PPMori-SemiBold'),
   url('./assets/fonts/PPMori-SemiBold.ab48fc0e.ttf') format('truetype');

}
@font-face {
  font-family:"Bold3";
  src: local('PPNeueMontreal-Medium'),
   url('./assets/fonts/PPNeueMontreal-Medium.88ee7c9.ttf') format('truetype');

}
@font-face {
  font-family:"Bold4";
 src: url('./assets/fonts/NeurialGrotesk-Regular.ttf');

}
@font-face {
  font-family:"Bold5";
 src: url('./assets/fonts/66bbc5ba1d98e86de2c5a882_WFVisualSans-SemiBoldText\ \(1\).ttf');

}
@font-face {
  font-family:"Bold6";
 src: url('./assets/fonts/667a857a4fccb876bd2af1d8_Satoshi-Variable.ttf');

}








.customShadow {
  filter: drop-shadow(0px 5px 7px #f7f7f7);
}
.newShadow{
  box-shadow: rgb(216, 213, 212) 0px 1px 0px, #f3f3f8f8 0px 1px 0px;
}
.perspective{
  transform: perspective(1000px) rotateX(-90deg) 
}
.myclass{
  transform: translate(-50%);
}