@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-zinc-950 text-zinc-50
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*{
  font-family: 'Playfair Display SC', serif;
} */
/* .custom-drop-shadow {
  @apply shadow-[-1px_12px] blur-5 shadow-color-gray-500;
} */

/* .customShadow {
  box-shadow: -1px 12px 5px rgba(240, 222, 222, 0.815);
} */

.customShadow {
  filter: drop-shadow(0px 5px 7px #f7f7f7);
}
.newShadow{
  box-shadow: rgb(216, 213, 212) 0px 1px 0px, #f3f3f8f8 0px 1px 0px;
}
.perspective{
  transform: perspective(1000px) rotateX(-90deg) 
}
.myclass{
  transform: translate(-50%);
}